/* General Admin Dashboard */


/* Post Deletion */

.delete-post {
    float: right;
}

.delete-post button {
    background-color: red;
    border: outset red;
    aspect-ratio: 1/1;
    font-weight: bold;
}

.delete-post button:hover {
    background-color: rgb(255, 113, 113);
    border: outset rgb(255, 113, 113);
    cursor: pointer;
}

.delete-post button:active {
    background-color: crimson;
    border: outset crimson;
}