#landing {
    min-height: 90vh;
    background-color: #ececec9b;
}

#welcome-message span {
    color: black;
    font-weight: normal;
}

#user-page {
    padding: clamp(12px, 1%, 24px);
    display: grid;
    height: 50vh;
    grid-template-columns: clamp(256px, 40%, 512px) auto;
    gap: clamp(12px, 1%, 24px);
}



#user-box {
    display: flex;
    padding: clamp(12px, 1%, 24px);
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2)
}

#profile {
    display: flex;
    width: 90%;
    max-width: 90%;
    background-color: rgb(13, 81, 171);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

#profile p {
    font-size: clamp(132px, 20vw, 356px);
    font-weight: bolder;
    color: white;
    text-align: center;
    user-select: none;
}


#content {
    padding: clamp(12px, 1%, 24px);
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2)
}

.shadowBox {
    padding: clamp(20px, 1%, 24px);
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2)
}

.noShadowBox {
    padding: clamp(20px, 1%, 24px);
    border: none;
    background-color: #fff;
}