/* No results */
#no-results {
    min-height: 90vh;
}

#no-results p {
    margin-top: 5%;
    text-align: center;
}

/* Messages */

h2 {
    padding-left: 8px;
}

#message-container {
    padding: clamp(12px, 1%, 24px);
    min-height: 90vh;
}

.message {
    margin-bottom: 8px;
}

.backgroundGray {
    background-color: #ececec9b;
}

.shadowBox {
    padding: clamp(20px, 1%, 24px);
    border: none;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.noShadowBox {
    border: none;
    background-color: #fff;
}