#navbar {
    display: flex;
    padding: 1%;
    height: 5vh;
    background-color: rgb(22, 124, 255);
    justify-content: space-between;
    align-items: center;
}

#navbar a{
    text-decoration: none;
}

#navbar button{
    height: 5vh;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: #fff;
    background: rgb(22, 124, 255);
}

#navbar button:hover{
    border: 2px solid white;
}

span {
    color: #fff;
}