/* Header navbar */

#navbar {
    display: flex;
    padding: clamp(12px, 1%, 24px);
    min-height: 32px;
    color: white;
    background-color: rgb(22, 124, 255);
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: white;
    text-decoration: none;
}

#navbar button{
    height: 5vh;
    cursor: pointer;
    text-decoration: none;
    border: none;
    color: #fff;
    background: rgb(22, 124, 255);
}

#navbar button:hover{
    border: 2px solid white;
}

span {
    color: #fff;
}

/* Footer */

footer {
    padding: 12px;
    color: white;
    font-size: smaller;
    background-color: rgb(76, 70, 88);
}