/* Ad form */

#post-page {
    min-height: 90vh;
    background-color: #ececec9b;
}

#post-page h2 {
    padding-left: 8px;
}

#set-type {
    display: flex;
    justify-content: space-evenly;
}

#ad-form {
    display: block;
    margin: auto;
    width: 90vw;
}

input#title, input#price, input#location {
    font-size: larger;
}

textarea {
    resize: vertical;
    width: 95vw;
    max-width: 90vw;
    height: 25vh;
    min-height: 32px;
    max-height: 30vh;
    font-size: large;
}

#submit {
    display: block;
    padding: 1%;
    margin-left: 1px;
    margin-top: 12px;
    cursor: pointer;
}

.shadowBox {
    padding: clamp(20px, 1%, 24px);
    border: none;
    background-color: #fff;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.noShadowBox {
    border: none;
    background-color: #fff;
}