.hide {
    display: none;
}

/* Search bar CSS */

#sort-bar {
    padding: 12px;
    background-color: lightgray;
}

#sort-bar form {
    display: grid;
    grid-template-columns: 70% auto auto;
    gap: 1%;
}

#sort-bar form * {
    height: 5vh;
    min-height: 32px;
}

#sort-bar input[type='submit']:hover {
    cursor: pointer;
}

/* Postings CSS */

#post-container {
    display: grid;
    margin: auto;
    padding: clamp(12px, 1%, 20px);
    min-height: 100vh;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    gap: clamp(12px, 1%, 20px);
}

#post-container .post {
    padding: clamp(12px, 1%, 20px);
    margin-bottom: 1%;
    border: solid black 2px;
}

#post-container .post:focus {
    outline: double;
}

#post-container img {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 2px solid black;
    width: 100%;
}

@media only screen and (max-width: 1280px) {
    #sort-bar form {
        grid-template-columns: 60% auto auto;
    }

    #post-container {
        grid-template-columns: repeat(3, 1fr);
        gap: clamp(16px, 2%, 20px);
    }
}

@media only screen and (max-width: 768px) {
    #sort-bar form {
        grid-template-columns: 55% auto auto;
    }

    #post-container {
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(16px, 2%, 20px);
    }
}

/* No results */
#no-results {
    min-height: 90vh;
}

#no-results p {
    margin-top: 5%;
    text-align: center;
}

/* Old flexbox CSS */

/*
#post-container {
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#post-container .post {
    padding: 1%;
    margin-bottom: 1%;
    width: 22%;
    border: solid black 2px
}

@media only screen and (max-width: 1280px) {
    #post-container .post {
        width: 30%;
    }
}

@media only screen and (max-width: 600px) {
    #post-container .post {
        width: 46%;
    }
} 

*/