#post-page {
    background-color: #ececec9b;
}

.shadowBox {
    padding: clamp(20px, 1%, 24px);
    border: none;
    background-color: #fff;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2)
}

.noShadowBox {
    border: none;
    background-color: #fff;
}